<div class="container">
    <table mat-table [dataSource]="arrOfPatients" class="mat-elevation-z2" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let patient"> {{patient.name}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="dose">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Dose </th>
            <td mat-cell *matCellDef="let patient"> {{patient.dose}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Date of Birth </th>
            <td mat-cell *matCellDef="let patient"> {{patient.dob}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Gender </th>
            <td mat-cell *matCellDef="let patient"> {{patient.gender}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>