<mat-toolbar color="primary">
    <button mat-button [routerLink]="'home'" ><h3>Vaccination Application</h3></button>
    <div class="10px"></div>
    <button mat-button [routerLink]="'addPatForm'" >Add Patient</button>
    <button mat-button [routerLink]="'adminVaccForm'" >Administer Vaccination</button>
    <div class="spacer"></div>
    <button mat-flat-button color="accent" (click)="auth.signOut()" [hidden]="!auth.isLoggedIn" >Log Out</button>
    <button mat-flat-button color="accent" (click)="auth.googleSignIn()" [hidden]="auth.isLoggedIn" >Log In</button>
</mat-toolbar>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<router-outlet></router-outlet>
